node_modules
.nvmrc
src
.gitignore
.npmignore
.npmrc
.nvmrc
tsconfig.json
tsconfig-prod.json
tslint.json
.babelrc
.vscode
.nyc_output
coverage
docs
test
.editorconfig
.travis.yml
*.ts
!*.d.ts
package-lock.json
